*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    height:100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.time-select, .sound-picker, .player-container{

    height: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.player-container{
    position: relative;
}
.player-container svg{
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    pointer-events: none;
}
.time-select{
    background:none;

}

.time-display{
    position: absolute;
    bottom: 10%;
    color:whitesmoke;
    font-size: 50px;
}
.sound-picker{
    background: none;
}

.player-container{
    background: none;
}
video{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: -10;
}

.time-select button,
.sound-picker button{
    color:white;
    width: 30%;
    height: 10%;
    background: none;
    border: 2px solid plum;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;

}

.time-select button:hover{
    color: black;
    background: white;
}

.sound-picker button{
    border: none;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 30px;

}

.sound-picker button:nth-child(1)
{
    background : rgb(67, 157, 209);
}

.sound-picker button:nth-child(2)
{
    background: mediumvioletred;
}

.sound-picker button img{
    height: 100%;
}

.blue{
    position: absolute;
    margin-top: -600px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: powderblue;


}

.meditate{
    position: absolute;
    margin-top: -450px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: powderblue;

}